<div class="container mt-3" style="width: 40rem;">
    <h1 style="color: #00FFFF;" class="text-center mb-3"><i class="bi bi-box-arrow-in-right"></i> Kirish</h1>
    <form action="/" method="post">
        <div class="mb-3">
          <label for="name" class="form-label" style="color: #00FFFF;">Ism</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="surename" class="form-label" style="color: #00FFFF;">Ikkinchi Ism</label>
          <input type="text" class="form-control" id="surename" name="surename">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" style="color: #00FFFF;">Parol</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
        <button type="submit" class="btn btn-primary">Kirish</button>
    </form>
</div>